body {
    background-color: white;
}

.trs-wrapper {
  overflow: hidden;
}

.center-div {
    flex: 1 1 auto;

    /* Room for prev/next button */
    margin-left: 30px;
    margin-right: 30px;
}

.slider {
    width: 100%;

    background-image: linear-gradient(10deg, #b1e0e6, #8ddae4);

    border-color: #333;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 5px 5px 0 0;
    padding: 5px 0 5px 0;

    display: flex;
    align-items: center;
    justify-content: space-evenly;

    /* Don't allow dragging */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slider:hover {
    cursor: grab;
}

.slider:active {
    cursor: grabbing;
}

.slider-when-timeline-hidden {
    border-width: 1px;
    border-radius: 5px;
    box-shadow: 1px 5px 20px 0 #dedede;
}

.slider-item {
    float: left;
    text-align: center;
    pointer-events: none;
    overflow: hidden;
    text-overflow: clip;
}

.slider-item-past {
}
.slider-item-future {
    color: #545454 !important;
}
.slider-item-active {
    background-image: url('slider.png');
    background-repeat: no-repeat;
    background-position: center;
    min-width: 28px !important; /* Override the default width */
    min-height: 16px;
}

.slider-item-hidden-slider {
    font-size: 0.7em;
}
.slider-item-hidden-slider-past {
    line-height: 1rem;
}
.slider-item-hidden-slider-future  {
    color: #545454 !important;
    line-height: 1rem;
}
.slider-item-hidden-slider-active {
    font-weight: bold;
    font-size: 1.2em;
    background-image: url(drag-affordance.png);

    background-repeat-y: no-repeat;
    background-repeat-x: repeat;
    background-position-y: bottom;
    background-position-x: left;
    background-size: 6px;
    padding-bottom: 2px;
}

.prev-next-button {
    border-radius: 50%;
    background-color: black;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    line-height: 1em;
    margin-top: 10px;
    text-align: center;
    vertical-align: middle;
    border: none;
}
.prev-next-button:disabled {
    background-color: gray;
    pointer-events: none;
}

.prev-next-button:hover {
    background-image: linear-gradient(135deg, #8f8f8f, #000);
    cursor: pointer;
}

.prev-next-button a {
    color: white;
    vertical-align: middle;
}

.prev-next-button a:hover {
    text-decoration: none;
}

/* Slider Timeline Data */
.timeline {
    border-width: 0 1px 1px 1px;
    border-color: #333;
    border-style: solid;
    border-radius: 0 0 5px 5px;
    padding-bottom: 5px;
    background-image: linear-gradient(10deg, #b1e0e6, #8ddae4);

    overflow-y: auto;
    overflow-x: hidden;

    width: 100%;

    margin-left: auto;
    margin-right: auto;

    transition: max-height 0.6s ease-out,
                opacity 0.3s ease-out;
}

.timeline-header {
    text-align: center;
}
.timeline-column-active .timeline-header {
    font-weight: bold;
}

.timeline-column-past {
    opacity: 75%;
}

.timeline-column-future {
    opacity: 20%;
}

.timeline-column-active {
    opacity: 100%;
}

.timeline-info-one-step {
    font-size: 0.7em;
    float: left;
}

.timeline-info {
    border-radius: 15px;
    padding: 5px;
    margin: 2px;

    border-width: 2px;
    border-color: #CCCCCC33;
    border-style: ridge;

    background-color: lightgray;
}
.timeline-info-good {
    background-color: lightgreen;
}
.timeline-info-bad {
    background-color: lightcoral;
}

.question-mark {
    color:#fff;
    background-color:#6a6f6f;
    width:12px;
    height:12px;
    line-height: 12px;
    vertical-align: middle;
    display: inline-block;
    float: right;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0 rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0 rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0 rgba(0,0,0,0.25);
    margin: 0 0 0 5px;
    padding: 0;
    border: 0;
}

/* Tooltip text */
#timeline-info-tooltip {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    font-size: 0.7em;
    max-width: 400px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    opacity: 100% !important;
}

.expand-collapse-button {
    font-size: 0.7em;

    width: fit-content;
    padding: 2px 15px;

    text-align: center;
    margin-left: auto;
    margin-right: auto;

    background-image: linear-gradient(10deg, #e7fafd, #d6ebee);
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-radius: 0 0 5px 5px;
}
.expand-collapse-button:hover {
    text-decoration: underline;
    cursor: pointer;
}
